MODEL_PATH=models/best_model.pkl
PREPROCESSOR_PATH=models/preprocessor.pkl
SELECTED_FEATURES_PATH=models/selected_feature_columns.joblib
PREDICTIONS_LOG_PATH=reports/predictions_log.csv
REFERENCE_DATA_PATH=data/05_model_input/X_train.pkl
